appdirs==1.4.4
backports.weakref==1.0.post1
brotlipy==0.7.0
cachetools==5.3.1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
et-xmlfile==1.1.0
eventlet==0.34.2
fonttools==4.25.0
google-api-core==2.11.1
google-auth==2.21.0
google-cloud-core==2.3.3
google-cloud-translate==3.11.2
googleapis-common-protos==1.59.1
googletrans==2.4.0
grpcio==1.56.0
grpcio-status==1.56.0
jsonpointer==2.1
libretranslatepy==2.1.1
meteostat==1.6.5
mkl-service==2.4.0
munkres==1.1.4
openpyxl==3.0.10
ply==3.11
proto-plus==1.22.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyQt5==5.15.10
pywin32==305.1
rsa==4.9
scipy==1.11.4
translate==3.6.1
webencodings==0.5.1
wincertstore==0.2
zstandard==0.19.0
